---
title: TangoBA Festival Channel
pageclass: home

---
-# stylesheet_link_tag "old/site"
.welcome
  .logo
    = image_tag "https://raw.githubusercontent.com/tangodata/mundialarchives/master/badges/tango_mundial13.gif"
  %h1
    TangoBA Festival y Mundial
    %br
    2018-08-09 to 2018-08-22
  %p
    %i
      600,000 spectators
      2,000 artistes
      8 venues
      150 shows



